<template>
  <div>
    <h1 align="center">Collected Images</h1>
    <image-list />
  </div>
</template>

<script>
import ImageList from '@/components/ImageList.vue'

export default {
  name: 'home',

  components: {
    ImageList,
  },
}
</script>
