<template>
  <div align="center" style="margin-bottom: 1rem;">
    <el-button type="primary" size="small" :loading="loading" @click="onClick">
      New Analysis
    </el-button>
    <small>
      <p>File size must be below 1 MB.</p>
    </small>
  </div>
</template>

<script>
import uploadcare from 'uploadcare-widget'

export default {
  data() {
    return {
      loading: false,
    }
  },

  methods: {
    async onClick() {
      try {
        var dialog = uploadcare.openDialog(null, {
          publicKey: process.env.VUE_APP_UPLOADCARE_PUBLIC_KEY,
          imagesOnly: true,
        })

        var {uuid} = await dialog.done()

        this.onUpload(uuid)
      } catch(err) {
        this.$message.error(err.message)
        return false
      }
    },

    async onUpload(uuid) {
      this.loading = true

      try {
        var {data} = await this.$http.post(`/images`, {
          image_id: uuid,
        })
      } catch(err) {
        this.$message.error(err.response.data.message)
        return false
      } finally {
        this.loading = false
      }

      this.$message.success('Your image has been saved and processed.')
      this.$emit('create', data)
    }
  },
}
</script>
