<template>
  <el-row type="flex" justify="space-around">
    <el-col :xs="24" :sm="20" :md="12">
      <image-create @create="onCreate" />
      <image-list-item
        v-for="image in images"
        :key="image._id"
        :image="image"
        @delete="getImages"
      />
    </el-col>
  </el-row>
</template>

<script>
import ImageCreate from '@/components/ImageCreate.vue'
import ImageListItem from '@/components/ImageListItem.vue'

export default {
  name: 'ImageList',

  components: {
    ImageCreate,
    ImageListItem,
  },

  data() {
    return {
      images: [],
    }
  },

  async mounted() {
    await this.getImages()
  },

  methods: {
    async getImages() {
      try {
        var { data } = await this.$http.get('/images')
        this.images = data
      } catch(err) {
        this.$message.error(err.message || err.response.data.message)
        return false
      }
    },
    onCreate(data) {
      this.images.unshift(data) // Add latest upload to first array item.
    },
  },
}
</script>

<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
