<template>
  <span>
    <el-button type="text" @click="onClick">Raw Data</el-button>
    <el-dialog title="Raw Data" :visible.sync="dialogVisible">
      <pre><span v-html="image" /></pre>
    </el-dialog>
  </span>
</template>

<script>
export default {
  props: {
    image: Object,
  },

  data() {
    return {
      dialogVisible: false,
    }
  },

  methods: {
    onClick() {
      this.dialogVisible = true
    },
  },
}
</script>

<style>

</style>
