<template>
  <el-button type="text" @click="onClick">Delete</el-button>
</template>

<script>
export default {
  props: {
    imageId: String,
  },

  methods: {
    async onClick() {
      try {
        await this.$confirm('The image will be permanently removed from the database.', 'Confirm Delete', {
          confirmButtonText: 'Delete',
          cancelButtonText: 'Cancel',
          type: 'warning'
        })
      } catch(err) {
        return false
      }

      try {
        var {data} = await this.$http.delete(`/images/${ this.imageId }`)
      } catch(err) {
        this.$message.error(err.response.data.message)
        return false
      }

      this.$emit('delete')
      this.$message.success('Your image has been deleted.')
    },
  },
}
</script>

<style>

</style>
