<template>
  <el-card :body-style="{ padding: '0px' }" style="margin-bottom: 1rem;">
    <img width="100%" :src="`https://ucarecdn.com/${image.imageId}/-/preview/`">
    <div style="padding: 14px;">
      <el-tag v-if="image.status === 'A'" type="success" size="mini">Processed</el-tag>
      <el-tag v-if="image.status === 'P'" type="warning" size="mini">Pending</el-tag>
      <div v-if="image.labelAnnotations.length">
        <h3>Label Annotations</h3>
        <el-row class="image-row" :gutter="15" v-for="labelAnnotation in filterAnnotations(image.labelAnnotations)" :key="labelAnnotation.mid">
          <el-col :xs="24" :sm="12">
            {{ labelAnnotation.description }}
          </el-col>
          <el-col :xs="24" :sm="12">
            <el-progress :percentage="Math.round(labelAnnotation.score * 100)" :color="getProgressColor(labelAnnotation.score)"></el-progress>
          </el-col>
        </el-row>
      </div>
      <div v-if="image.logoAnnotations.length">
        <h3>Logo Annotations</h3>
        <el-row class="image-row" :gutter="15" v-for="logoAnnotation in filterAnnotations(image.logoAnnotations)" :key="logoAnnotation.mid">
          <el-col :xs="24" :sm="12">
            {{ logoAnnotation.description }}
          </el-col>
          <el-col :xs="24" :sm="12">
            <el-progress :percentage="Math.round(logoAnnotation.score * 100)" :color="getProgressColor(logoAnnotation.score)"></el-progress>
          </el-col>
        </el-row>
      </div>
      <image-raw-data :image="image" style="margin-right: 1rem;" />
      <image-delete :imageId="image.id" @delete="$emit('delete')" />
    </div>
  </el-card>
</template>

<script>
import ImageRawData from '@/components/ImageRawData.vue'
import ImageDelete from '@/components/ImageDelete.vue'

export default {
  components: {
    ImageRawData,
    ImageDelete,
  },

  props: {
    image: Object,
  },

  methods: {
    getProgressColor(score) {
      if (score <= .25) {
        return '#f56c6c'
      }

      if (score <= .75) {
        return '#e6a23c'
      }

      return '#67c23a'
    },

    filterAnnotations(list) {
      var cleanList = list.filter(item => item.score >= 0.75)

      if (cleanList.length <= 1) {
        return list.slice(0, 1) // If resulting list ends with one item or less, simply return the first original item.
      } else {
        return cleanList
      }
    },
  }
}
</script>

<style scoped>
.image-row {
  padding: .35rem 0;
}
</style>
